body {    
    font-family: monospace;
    background-color: #000;
    color: #f2f2f2;
    text-align: left;
    padding:  14px 16px;
    text-decoration: none;
    font-size: 17px;
}

img{
    float: left;
}

e{
  float: right;
}


